body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h2 {
    color: #000000;
}

.main-bg {
    background: 50% 0px url('../img/background-photo.jpg') no-repeat;
    background-attachment: fixed;
    height: 499px;
    width: 100%;
}
.main-bg .welcome-image {
    width: 460px;
    position: absolute;
    top: 132px;
    left: 50%;
    margin-left: -230px;
    z-index: 10;
}

.main-bg .background-image-white {
    width: 1200px;
    position: absolute;
    top: 506px;
    left: 50%;
    margin-left: -600px;
    z-index: 10;
}

.background-catalog {
    background: 50% -250px url('../img/filter-background.jpg') no-repeat;
}

.navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 140px;
    height: 71px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.nav-list a{
    font-weight: bold;
    color: #000000;
}

.nav-list li {
    width: calc(100% / 5);
    padding: 22px 68px 22px 73px;
}

.nav-list li:nth-child(2) {
    margin-right: auto;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}

.nav-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.definition {
    width: 100%;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: 0;
    font-size: 21px;
}

.definition-p {
    color: #000000;
    font-weight: bold;
    line-height: 1.24;
    margin: 0;
    padding-bottom: 27px;
}

.definition-p1 {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    margin: 0;
}

.advantages h2 {
    font-size: 21px;
    font-weight: bold;
}

.advantages p {
    font-size: 14px;
}

.advantages-row {
    width: 100%;
    display: flex;
}

.advantages-card {
    width: calc(100%/3);
}

.advantages-card.with-picture {
    width: calc(100%/3*2);
    line-height: 0;
    background: #81b3d2;
}

.advantages-row .bg-blue {
    background: #81b3d2;
    color: #ffffff;
    padding: 36px 60px 54px 60px;
}

.advantages-row .bg-blue h2 {
    color: #ffffff;
}

.advantages-card.bg-blue1 {
    padding: 39px 49px 51px 48px;
}

.advantages-row .with-icon {
    padding-top: 62px;
    padding-bottom: 87px;
    background-color: #ffffff;
}

.icon {
    display: inline-block;
    width: calc(100%/3);
    margin-bottom: 30px;
}

.icon-house {
    background: url('../img/icon-1.svg') no-repeat;
    width: 75px;
    height: 72px;
}

.icon-burger {
    background: url('../img/icon-3.svg') no-repeat;
    width: 74px;
    height: 70px;
}

.icon-present {
    background: url('../img/icon-2.svg') no-repeat;
    width: 64px;
    height: 76px;
}

.advantages-row .with-icon h2 {
    margin-bottom: 29px;
    margin-top: 0;
}

.advantages-row .with-icon p {
    margin-top: 0;
    margin-bottom: 0;
}

.advantages-row .grey {
    background: #eeeeee;
    padding: 50px 69px 64px 69px;
}

.search-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.search-block h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 57px;
}

.search-block p {
    line-height: 1.71;
}

.brown-button {
    background-color: #766357;
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #ffffff;
    padding: 30px 139px 30px 140px;
    margin-top: 35px;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

footer {
    position: absolute;
    width: 1200px;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    opacity: 0.9;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 999;
}

.inner-footer {
    position: relative;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.footer-column{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 148px;
}

.footer-social {
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 36px 0;
    justify-content: center;
}

.social-buttons a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    align-items: center;
    width: 46px;
    height: 48px;
    background: #81b3d2;
}

.social-buttons .tw {
    background-image: url(../img/tw-icon.png);
    width: 17px;
    height: 15px;
    margin-top: 17px;
    margin-left: 15px;
}

.social-buttons .fb {
    background-image: url(../img/fb-icon.png);
    width: 12px;
    height: 22px;
    margin-top: 13px;
    margin-left: 17px;
}

.social-buttons .youtube {
    background-image: url(../img/youtube.png);
    width: 20px;
    height: 16px;
    margin-top: 16px;
    margin-left: 13px;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
}

.social-buttons .tw:active {
    background-image: url(../img/tw.png);
}

.social-buttons .fb:active {
    background-image: url(../img/fb-active.png);
}

.social-buttons .youtube:active {
    background-image: url(../img/youtube-active.png);
}

.footer-hashtag {
    font-size: 21px;
}

.footer-column p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.footer-column .website-link {
    display: block;
    width: 115px;
    height: 41px;
    margin-left: 8px;
}

.website-link:hover path,
.website-link:focus path {
    fill: #81b3d2;
}

.website-link:active path {
    fill: #bdbbbc;
}

.modal {
    color: #000000;
}

.form-back {
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    width: 568px;
    height: 395px;
    background: #ffffff;
    padding: 55px;
    position: absolute;
    margin-top: 314px;
}

.modal-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.modal-row input[type="text"] {
    width: 346px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    margin-left: 20px;
    margin-bottom: 29px;
    padding-left: 13px;
    position: relative;
}

.field-wrapper .text-field:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.field-wrapper .text-field:hover {
    background-color: var(--very-light-pink);
}

.modal-row label[for="date_of_arrival"] {
    margin-bottom: 35px;
}

.modal-row label[for="date_of_return"] {
    margin-bottom: 35px;
}

.modal-row label[for="adults"] {
    margin-top: 7px;
    margin-right: 41px;
}

.modal-row label[for="kids"] {
    margin-top: 7px;
    margin-right: 27px;
}

.field-cal1 {
    border: none;
    background: transparent;
    position: absolute;
    width: 21px;
    height: 22px;
    right: 72px;
    top: 60px;
}

.field-cal2 {
    border: none;
    background: transparent;
    position: absolute;
    width: 21px;
    height: 22px;
    right: 72px;
    top: 127px;
}

.calendar:hover path,
.calendar:focus path {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}

.modal-row button {
    outline: none;
    border: none;
}

.modal-row .modal-row-adults {
    display: flex;
    margin-bottom: 73px;
    margin-right: 26px;
}

.modal-row .modal-row-kids {
    display: flex;
    margin-bottom: 73px;
    margin-left: 26px;
}

.minus-plus-buttons{
    display: flex;
}

.modal-row-adults input[type="text"] {
    width: 38px;
    height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal-row-kids input[type="text"] {
    width: 38px;
    height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.count-btn {
    display: block;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    position: relative;
    border: none;
    font-size: 0;
    line-height: 0;
}

.count-btn.minus::before,
.count-btn.plus::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    transform: translateX(-50%) translateY(-50%);
}

.count-btn.plus::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 12px;
    background-color: #a9a9a9;
    transform: translateX(-50%) translateY(-50%);
}

.count-btn:hover::before,
.count-btn:hover::after {
    background-color: #000000;
}

.count-btn:active::before,
.count-btn:active::after {
    background-color: #81b3d2;
}

.blue-button a {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 55px;
    padding: 15px 196px 20px 196px;
}

.blue-button a:hover,
.blue-button a:focus {
    background-color: #669ec0;
}

.blue-button a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

form.filter-form {
    color: #ffffff;
    display: flex; 
    padding-top: 31px;
    padding-left: 72px;
    padding-right: 74px;
}

.columns {
    width: auto;
    display: flex;
    flex-direction: column; 
    margin-right: 115px;
}

.filter-checkboxes {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    text-align: left;
}

.filter-rangeline {
    display: flex;
    flex-direction: column;
    margin-left: 177px;
    margin-right: 74px;
}

.filter-checkboxes-title {
    margin-bottom: 30px;
}

.filter-checkbox {
    margin-bottom: 36px;
}

.filter-checkbox > input[type="checkbox"] {
    display: none;
}

.filter-checkbox > label {
    padding-left: 30px;
    position: relative;
}

.filter-checkbox > label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background: url(../img/checkbox-off.png) no-repeat;
}

.filter-checkbox > input[type="checkbox"]:checked ~ label::before {
    width: 27px;
    height: 23px;
    background: url(../img/checkbox-on.png) no-repeat;
}

.filter-form b {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
}

.checkbox {
    visibility: hidden;
}

.filter-checkboxes p {
    border: solid 2px #ffffff;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    text-align: center;
}

.divider {
    width: 2px;
    height: 22px;
    background-color: #ffffff;
}

.range-line {
    border-bottom: 2px solid #f2f2f2;
    width: 317px;
    opacity: 0.3;
    padding-bottom: 20px;
}

.range-line1 {
    border-bottom: 2px solid #ffffff;
    width: 248px;
    position: absolute;
    top: 213px;
}

.range-button:before {
    content: url(../img/filter-button.png);
    width: 20px;
    height: 22px;
    position: absolute;
    top: 203px;
}

.range-button:after {
    content: url(../img/filter-button.png);
    width: 20px;
    height: 22px;
    position: absolute;
    top: 203px;
    right: 170px;
}

.filter-checkboxes .range-button:hover,
.filter-checkboxes .range-button:focus {
    background-image: url(../img/filter-button-bigger.svg);
    width: 22px;
    height: 24px;
}

.submit-button a{
    text-decoration: none;
    color: #ffffff;
}

.submit-button {
    width: 133px;
    height: 32px;
    border: solid 2px #ffffff;
    background: transparent;
    margin-top: 34px;
    padding-top: 5px;
    color: #ffffff;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #ffffff;
    padding: 7px 31px 6px 32px;
    color: #000000;
    outline: none;
}

.sort {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    padding-bottom: 37px;
    padding-top: 31px;
    border-bottom: 1px solid #f2f2f2;
}

.sort-buttons a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81b3d2;
    font-family: PT Sans, sans-serif;
    font-size: 12px;
    margin-right: 33px;
}

.sort-buttons a:hover,
.sort-buttons a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-buttons a:active {
    color: #000000;
    border: none;
}

.sort-buttons {
    display: flex;
    width: auto;
    margin-right: auto;
    align-items: flex-start;
}

.sort-buttons b {
    font-size: 21px;
    font-weight: bold;
    padding-left: 72px;
    padding-right: 49px;
}

.sort-buttons p {
    color: var(--black);
    font-size: 12px;
    margin: 0;
    padding-right: 40px;
}

.sort-buttons .sort-buttons-active {
    color: #81b3d2;
    border: none;
}

.sort-direction {
    display: flex;
} 

.sort-toggle {
    display: block;
    width: 11px;
    height: 10px;
    margin-right: 10px;
}

.sort-toggle:last-child {
    margin-right: 73px;
}

.sort-toggle.up {
    background-image: url(../img/icon-up-dir.png);
}

.sort-toggle.down {
    background-image: url(../img/icon-down-dir.png);
}

.sort-direction .up:hover,
.sort-direction .up:focus {
    background-image: url(../img/icon-up-dir.svg);
}

.sort-direction .down:hover,
.sort-direction .down:focus {
    background-image: url(../img/icon-down-dir.svg);
}

.sort-direction .up:active {
    background-image: url(../img/icon-up-dir-blue.png);
}

.sort-direction .down:active {
    background-image: url(../img/icon-down-dir.png);
}

.hotel {
    width: 100%;
    display: flex;
    padding-left: 72px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.hotel-pic {
    width: 135px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-block.with-buttons {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: flex-start;
    padding-left: 30px;
}

.hotel-block {
    width: auto;
    flex-grow: 1;
}

.hotel-block.rating {
    display: flex;
    flex-direction: column;
    width: 178px;
    padding-right: 73px;
    flex-grow: 0;
}

.hotel-block.rating p {
    font-size: 14px;
    color: #666666;
    background: #f2f2f2;
    margin: 0;
    padding: 3px 9px 3px 11px;
}

.rating-stars {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.rating-star {
    width: 18px;
    height: 17px;
    background: url(../img/star.svg) no-repeat;
    margin-right: 6px;
    margin-bottom: 47px;
}

.rating-star:last-child {
    margin-right: 0;
}

.hotel p {
    color: #333333;
}

.hotel-name {
    font-size: 21px;
    font-weight: bold;
}

.hotel-name a {
    color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
    display: flex;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hotel-type {
    padding-right: 38px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.btn-blue a {
    background-color: #81b3d2;
    color:#ffffff;
    padding: 3px 17px 2px 17px;
}

.btn-blue a:hover,
.btn-blue a:focus {
    background-color: #669ec0;
}

.btn-blue a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.btn-brown a {
    background-color: #766357;   
    color: #ffffff;
    padding: 3px 17px 2px 17px;
}

.btn-brown a:hover,
.btn-brown a:focus {
    background-color: #604e43;
}

.btn-brown a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
