body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h2 {
    color: #000000;
}

.main-bg {
    background: 50% 0px url('../img/background-photo.jpg') no-repeat;
    background-attachment: fixed;
    height: 499px;
    width: 100%;
}
.main-bg .welcome-image {
    width: 460px;
    position: absolute;
    top: 132px;
    left: 50%;
    margin-left: -230px;
    z-index: 10;
}

.main-bg .background-image-white {
    width: 1200px;
    position: absolute;
    top: 506px;
    left: 50%;
    margin-left: -600px;
    z-index: 10;
}

.background-catalog {
    background: 50% -250px url('../img/filter-background.jpg') no-repeat;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 140px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.nav-list a{
    font-weight: bold;
    color: #000000;
}

.nav-list li {
    width: calc(100% / 5);
    padding: 22px 68px 22px 73px;
}

.nav-list li:nth-child(2) {
    margin-right: auto;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}

.nav-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.definition {
    width: 100%;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: 0;
    font-size: 21px;
}

.definition-p {
    color: #000000;
    font-weight: bold;
    line-height: 1.24;
}

.definition-p1 {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    padding-top: 38px;
}

.advantages h2 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.advantages p {
    font-size: 14px;
}

.advantages-row {
    width: 100%;
    display: flex;
}

.advantages-card {
    width: calc(100%/3);
}

.advantages-card.with-picture {
    width: calc(100%/3*2);
}

.advantages-row .bg-blue {
    background: #81b3d2;
    height: 256px;
    color: #ffffff;
    padding: 46px 60px 64px 60px;
}

.advantages-row .bg-blue h2 {
    color: #ffffff;
}

.advantages-card.bg-blue1 {
    padding: 49px 49px 65px 48px;
}

.advantages-row .with-icon {
    padding: 50px 60px;
}

.advantages-row .grey {
    background: #eeeeee;
    padding: 50px 77px 64px 77px;
}

.search-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.search-block h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}

.search-block p {
    line-height: 1.71;
}

.brown-button {
    padding-top: 56px;
    padding-bottom: 30px;
}

.brown-button a {
    background-color: #766357;
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #ffffff;
    padding: 30px 139px 30px 140px;
}

.brown-button a:hover,
.brown-button a:focus {
    background-color: #604e43;
}

.brown-button a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

footer {
    width: 100%;
    opacity: 0.9;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.footer-column{
    width: calc(100%/3);
}

.footer-social ul {
    list-style: none;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-social .social-buttons {
    display: inline-block;
    width: 46px;
    height: 48px;
    vertical-align: middle;
    margin-right: 6px;
    align-items: center;
    background: #81b3d2;
}

.social-buttons.tw {
    padding-top: 17px;
}

.social-buttons.fb {
    padding-top: 13px;
}

.social-buttons.youtube {
    padding-top: 17px;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #669ec0;
}

.footer-column p {
    padding-top: 51px;
    padding-bottom: 53px;
    font-weight: bold;
}

.footer-column.website-link {
    display: flex;
    justify-content: center;
}

.footer-column.website-link a {
    padding-top: 55px;
    padding-left: 5px;
}

.footer-column.website-link a:hover,
.footer-column.website-link a:focus {
    color: #81b3d2;
}
.modal {
    color: #000000;
}

.form-back {
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    width: 568px;
    height: 395px;
    background: #ffffff;
}

.modal-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-row input[type="text"] {
    width: 346px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    margin-left: 21px;
    margin-bottom: 29px;
}

#date_of_arrival {
    width: 346px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    position: relative;
    margin-right: 55px;
    margin-top: 55px;
}

#date_of_return {
    width: 346px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    position: relative;
    margin-right: 55px;
}

.modal-row .field-cal {
    border: none;
    background: transparent;
    position: absolute;
}

.modal-row .modal-row-adults {
    display: flex;
    flex-direction: column;
}

.modal-row .modal-row-kids {
    display: flex;
    flex-direction: column;
}

.minus-plus-buttons{
    display: inline-block;
}

.modal-row-adults input[type="text"] {
    width: 38px;
    height: 38px;
    text-align: center;
}

.modal-row-kids input[type="text"] {
    width: 38px;
    height: 38px;
    text-align: center;
}

#minus-button {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}

#plus-button {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}

.blue-button a {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 55px;
    padding: 15px 196px 20px 196px;
}

.blue-button a:hover,
.blue-button a:focus {
    background-color: #669ec0;
}

.blue-button a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

form.filter-form {
    color: #ffffff;
    display: flex; 
    padding-top: 31px;
    padding-left: 72px;
    padding-right: 74px;
}

.columns {
    width: auto;
    display: flex;
    flex-direction: column; 
}

.columns-with-checkboxes {
    width: auto;
    display: inline-flex;
    margin-right: auto;
    padding-bottom: 36px;
}

.column-with-price {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-form b {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
}

.checkbox {
    visibility: hidden;
}

.checkbox-img:before {
    content: url(../img/checkbox-on.png);
    width: 27px;
    height: 23px;
    display: block;
    padding-right: 15px;
}

.checkbox-img-off:before {
    content: url(../img/checkbox-off.png);
    width: 27px;
    height: 23px;
    display: block;
    padding-right: 15px;
}

.column-with-price p {
    border: solid 2px #ffffff;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    text-align: center;
}

.range-line {
    border-bottom: 2px solid #f2f2f2;
    width: 317px;
    opacity: 0.3;
    position: relative;
    padding-bottom: 20px;
}

.range-line1 {
    border-bottom: 2px solid #ffffff;
    width: 248px;
    position: absolute;
    padding-bottom: 100px;
}

.range-button:before {
    content: url(../img/filter-button.png);
    width: 20px;
    height: 22px;
    position: absolute;
    top: 181px;
}

.range-button:after {
    content: url(../img/filter-button.png);
    width: 20px;
    height: 22px;
    position: absolute;
    top: 181px;
}

.submit-button a{
    text-decoration: none;
    color: #ffffff;
}

.submit-button {
    width: 133px;
    height: 32px;
    border: solid 2px #ffffff;
    background-color: transparent;
    margin-top: 34px;
    padding-top: 5px;
}

.submit-button a:hover,
.submit-button a:focus {
    background-color: #ffffff;
    padding: 7px 31px 6px 32px;
    color: #000000;
}

.sort {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    padding-bottom: 37px;
    padding-top: 31px;
    border-bottom: 1px solid #f2f2f2;
}

.sort-buttons a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81b3d2;
    font-family: PT Sans, sans-serif;
    font-size: 12px;
    padding-right: 33px;
}

.sort-buttons a:hover,
.sort-buttons a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-buttons a:active {
    color: #000000;
    border: none;
}

.sort-buttons {
    display: flex;
    width: auto;
    margin-right: auto;
    align-items: flex-start;
}

.sort-buttons b {
    font-size: 21px;
    font-weight: bold;
    padding-left: 72px;
    padding-right: 49px;
}

.sort-buttons p {
    color: var(--black);
    font-size: 12px;
    margin: 0;
    padding-right: 40px;
}

.sort-buttons .sort-buttons-active {
    color: #81b3d2;
    border: none;
}

.sort-direction {
    display: flex;
    width: 36px;
    padding-right: 73px;
} 

.sort-direction a:hover,
.sort-direction a:focus {
    color: #000000;
}

.disabled {
    opacity: 0.3;
}


.hotel {
    width: 100%;
    display: flex;
    padding-left: 72px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.hotel-pic {
    width: 135px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-block.with-buttons {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: flex-start;
    padding-left: 30px;
}

.hotel-block {
    width: auto;
    flex-grow: 1;
}

.hotel-block.rating {
    display: flex;
    flex-direction: column;
    width: 178px;
    padding-right: 73px;
    flex-grow: 0;
}

.hotel-block.rating p {
    font-size: 14px;
    color: #666666;
    background: #f2f2f2;
    margin: 0;
    padding: 3px 9px 3px 11px;
}

.hotel-block.rating a {
    padding-bottom: 38px;
}

.hotel p {
    color: #333333;
}

.hotel-name {
    font-size: 21px;
    font-weight: bold;
}

.hotel-name a {
    color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
    display: flex;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hotel-type {
    padding-right: 38px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.btn-blue a {
    background-color: #81b3d2;
    color:#ffffff;
    padding: 3px 17px 2px 17px;
}

.btn-blue a:hover,
.btn-blue a:focus {
    background-color: #669ec0;
}

.btn-blue a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.btn-brown a {
    background-color: #766357;   
    color: #ffffff;
    padding: 3px 17px 2px 17px;
}

.btn-brown a:hover,
.btn-brown a:focus {
    background-color: #604e43;
}

.btn-brown a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
