body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h2 {
    color: #000000;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list a{
    width: 239px;
    line-height: 1.86;
    font-weight: bold;
    color: #000000;
    min-height: 56px;
}

.nav-list li {
    width: 239px;
    height: 56px;
    margin-top: 22px;
}

.nav-list .logo {
    width: 140px;
    height: 71px;
    margin: 0;
}

.nav-list > li:nth-child(1) {order: 0};
.nav-list > li:nth-child(2) {order: 1};
.nav-list > li:nth-child(3) {order: 3};
.nav-list > li:nth-child(4) {order: 4};
.nav-list > li:nth-child(5) {order: 2};

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}


.heading {
    visibility: hidden;
}

.definition {
    width: 1200px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.definition-p {
    width: 440px;
    height: 48px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
}


.advantages h2 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.advantages p {
    font-size: 14px;
}

.advantages .advantages-row {
    width: 1200px;
    height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    margin-left: 40px;
}

.advantages-row .picture {
    
}

.advantages-row .advantages-card {
    text-align: center;
    width: 400px;
    height: 256px;
    margin: 46px 60px 64px 60px;
}


.premodal-paragraph {
    width: 434px;
    height: 96px;
}

.premodal-paragraph h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}

.premodal-paragraph p {
    line-height: 1.71;
}

footer {
    width: 1200px;
    height: 120px;
    opacity: 0.9;
    background-color: #f2f2f2;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    background-color: none;
}

.footer-social ul {
    list-style: none;
}

.social {
    display: inline-block;
    width: 46px;
    height: 48px;
    vertical-align: middle;
    margin-right: 6px;
    align-items: center;
    background: #81b3d2 url("tw-icon.png") no-repeat;
}
.social .tw {
    background-position:0 0;
}

.website-link p {
    width: 74px;
    height: 11px;
    line-height: 1.86;
    color: #000000;
}

.modal {
    color: #000000;
}

.brown-button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #ffffff;
    
}

.form-back {
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-align: center;
}

.search-form input[type="text"] {
    width: 91px;
    height: 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    text-align: left;
    color: #000000;
}

.search-form input[type="date"] {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
}

.blue-button {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
}

.filter {
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
}

.filter b {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
}

.checkbox {
    background-color: #ffffff;
}

.checkbox-off {
    width: 23px;
    height: 23px;
}

.checkbox-on {
    width: 27px;
    height: 23px;
}

.range-price {
    border: solid 2px #ffffff;
    width: 314px;
    height: 32px;
    line-height: 1.5;
    font-size: 28px 10px;
}

.range-line {
    width: 317px;
    height: 2px;
    opacity: 0.3;
    background-color: #ffffff;
}

.submit-buttom {
    width: 133px;
    height: 32px;
    border: solid 2px #ffffff;
    color: #ffffff;
    font-size: 65px 10px;
}

.disabled {
    opacity: 0.3;
}

.current {
    color: #81b3d2;
}

.hotel {
    box-align: left;
}

.hotel a {
    text-decoration: none;
    box-align: left;
}

.hotel p {
    text-align: left;
}

.hotel-name {
    width: 210px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: left;
    color: #000000;
}

.blue-button1 {
    background-color: #81b3d2;
    background-size: 110px 27px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.brown-button1 {
    background-color: #766357;
    background-size: 142px 27px;
    font-size: 14px;    
    font-weight: bold;
    color: #ffffff;
}

.rating {
    width: 81px;
    height: 16px;
    font-size: 14px;
    color: #666666;
    background-color: #f2f2f2;
    background-size: 110px 27px;
}